/* ============================
   ESTILOS GENERALES
   ============================ */
body {
  font-family: Tahoma;
  color: #444;
  letter-spacing: 1px;
}

h1, h2 {
  font-weight: normal;
}

#wrapper {
  width: 90%;
  max-width: 960px;
  margin: 20px auto;
  border-radius: 6px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);

}

/* Encabezado */
#page-banner {
  background: #eee;
  padding: 10px 0;
  text-align: center;
}

#page-banner input {
  width: 90%;
  max-width: 300px;
  margin: 20px auto;
  display: block;
  padding: 8px;
  border: 1px #ddd;
  border-radius: 4px;
  font-size: 16px;
  color: #444;
}

/* Lista del árbol */
#ex-list {
  margin: 30px;
}

#ex-list ul {
  list-style-type: none;
  padding-left: 20px;
}

#ex-list li {
  margin: 10px 0;
}

/* Botones */
.delete {
  background: #9361bf;
  color: white;
  border-radius: 4px;
  padding: 2px 6px;
  cursor: pointer;
  margin-right: 5px;
}

.delete:hover {
  background: #333;
}

.add {
  background: #58a55c;
  color: white;
  border-radius: 4px;
  padding: 2px 6px;
  cursor: pointer;
  margin-left: 5px;
}

.add:hover {
  background: #2f6f35;
}

/* Deshabilitar el delete de la raíz */
.disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

/* Formulario inferior */
#add-ex {
  width: 400px;
  margin: 0 auto;
}

#add-ex input, #add-ex select {
  display: block;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
  border-radius: 4px;
  width: 100%;

}

#add-ex button {
  border: 1px solid #9361bf;
  background: #9361bf;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

#add-ex button:hover {
  background: #333;
}
